@model BikeStore.Entities.ComplexType.ProductDetail
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: red">@Model.ProductName</h2>


<h5>Product Name</h5>
@Model.ProductName
<h5>Brand Name</h5>
@Model.BrandName
<h5>Category Name</h5>
@Model.CategoryName
<h4>Price</h4>
@Model.Price
<h5>Quantity</h5>
@Model.Quantity
<h5>Photo</h5>
<img id="photosize" src="@Model.Photo" alt="Alternate Text" />


<script src="~/js/Scripts/ProductJs/Detail.js"></script>











